{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    {% block content %}
    <h4>Are you sure you want to continue deletion? </h4>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="yes" value="Yes">
        <input type="submit" name="no" value="No">
    </form>
    {% endblock %}
    
</body>
</html>