<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <title>O&G | {% block headTitle %}Document{% endblock headTitle %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "styles/styles.css" %}'>

</head>

<body>
    <!-- Navbar -->
    {% include "navbar.html" %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Header -->
    <header class="w3-container w3-light-grey w3-center" style="padding-top:70px; padding-bottom: 20px">
        <h1 class="w3-margin w3-jumbo">{% block header %}{% endblock header %}</h1>
        {%block headerActionBtn %}
        <!-- <button id="insert-btn" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="insertForm()">Insert</button> -->
        {%endblock headerActionBtn %}
    </header>
    
    <!-- First Grid -->
    
    <div class="container" >
        
        {% block content %}
        
        {% endblock content %}
        
        {%block containerActionBtn %}
        <!-- <div class = "w3-right-align">
            <button id="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Button 1</button>
            <button id="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Button 1</button>
        </div> -->
        {%endblock containerActionBtn %}
    </div>
    
    <div class="container">
    {% block extraContent %}

    {% endblock extraContent %}
    </div>

    <!-- Footer -->
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">O I L & G A S</h1>
    </div>

    {% block jscript %}
    {% endblock jscript %}
</body>

</html>