{% extends 'base/form.html' %}

{% block headTitle %}Delete PO{% endblock headTitle %}

{% block formHeader %}
Delete Unverified Purchase Order (NUM)
{% endblock formHeader %}


{% block content %}
<h4>Are you sure you want to continue deletion? </h4>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="yes" value="Yes" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
    <input type="submit" name="no" value="No" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
</form>
{% endblock %}
    
