{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    {% block content %}
    <br>
    <br>
    <a href="{% url 'add_prices' %}">Add Price Details</a>
    <br>
    <br>
    <table>
        <tr>
            <th>Price Code</th>
            <th>Price Name</th>
            <th>Update</th>
        </tr>
        {% for each_price in prices %}
            <tr>
                <td>{{each_price.pricecode}}</td>
                <td>{{each_price.pricetitle}}</td>
                <td><a href="{% url 'update_prices' each_price.pricecode %}">Update</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>