{% extends 'main.html' %}

{% block headTitle %}Prices{% endblock headTitle %}

{% block header %}Prices{% endblock header %}

{%block headerActionBtn %}
<button id="insert-btn" class=" headerActionBtn w3-button w3-black w3-padding-large w3-large w3-margin-top"
            onclick="insertForm()">Add Price</button>
{%endblock headerActionBtn %}


{% block content %}
    <!-- Tab content -->
    <div class="table-1">
        <table>
            <tbody>
                <tr>
                    <th>Price Code</th>
                    <th>Title</th>
                    <th>Updated</th>
                    <th>Sale Tax Rate</th>
                    <th>Max Dicsount Rate</th>
                    <th>Update</th>
                </tr>

                {% for each_price in prices %}
                    <tr>
                        {% for each_price_info in each_price %}
                            <td>{{each_price_info}}</td>
                        {% endfor %}
                        <td><a href="{% url 'update_prices' each_price.0 %}">Update</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block jscript %}
<script>
    function insertForm(evt) {
        window.open("{% url 'add_prices' %}", "_blank")
    }
</script>
{% endblock jscript %}

