{% extends 'main.html' %}

{% block headTitle %}Purchase Order {{purchase_order.ponumber}}{% endblock headTitle %}

{% block header %}Purchase Order {{purchase_order.ponumber}}{% endblock header %}


{% block content %}
<!-- purchase order table -->
<table>
    
    <th>Purchase Order Number</th>
    <th>Total Payable Amount</th>
    <th>Purchase Order Delivery Date</th>
    <th>Advance Payment %</th>
    <th>Advance Payment TRX ID</th>
    <th>Created By</th>
    <th>Purchase Invoice Number</th>
    <th>Final Payment TRX ID </th>
    <tr>
        {% for each_field in purchase_order_detail %}
            <td>{{each_field}}</td>
        {% endfor %}
    </tr>
</table>
{% endblock content %}

{%block containerActionBtn %}
{% if purchase_order.purchaseinvoicenum == None and purchase_order.finalpaymenttrxid == None %}
    <div class = "w3-right-align">
    <a href="{% url 'update_purchase_order' purchase_order.ponumber %}"><input type="submit" value="Update PO" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"></a>
    {% if purchase_order.isverified == 0 %}
    <a href="{% url 'update_transactions' purchase_order.ponumber %}"><input type="submit" value="Update Transactions" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"></a>
    <a href="{% url 'verify_purchase_order' purchase_order.ponumber %}"><input type="submit" value="Verify PO" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"></a>
    <a href="{% url 'delete_purchase_order' purchase_order.ponumber %}"><input type="submit" value="Delete PO" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"></a>
    {% endif %}
    </div>
{% endif %}
{%endblock containerActionBtn %}

{% block extraContent %}
<!-- transaction table  -->
<div class="table-1">
    <table>
        <tbody>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Supply Point</th>
                <th>Freight Charges</th>
                <th>Payable Amount</th>
            </tr>
            {% for each_record in po_trans_detail %}
            <tr>
                {% for each_field in each_record %}
                <td>{{each_field}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>  
    </table>
</div>
{% endblock extraContent %}

