{% extends 'main.html' %}

{% block headTitle %}Purchase Orders{% endblock headTitle %}

{% block header %}Purchase Orders{% endblock header %}

{%block headerActionBtn %}
<button id="insert-btn" class=" headerActionBtn w3-button w3-black w3-padding-large w3-large w3-margin-top"
            onclick="insertForm()">Add Purchase Order</button>
{%endblock headerActionBtn %}


{% block content %}
    <!-- Tab content -->
    <div class="table-1">
        <table>
            <tbody>
                <tr>
                    <th>Verification Status</th>
                    <th>Purchase Order Number</th>
                    <th>Seller</th>
                    <th>Number of Transactions</th>
                    <th>Date Created</th>
                    <th>Details</th>
                </tr>

                {% for each_po in purchase_orders %}
                <tr>
                    {% for each_field in each_po %}
                    <td>{{each_field}}</td>
                    {% endfor %}
                    <td><a href="{% url 'purchase_order_info' each_po.1 %}">Open</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block jscript %}
<script>
    function insertForm(evt) {
        window.open("{% url 'add_purchase_orders' %}", "_blank")
    }
</script>
{% endblock jscript %}