{% extends 'base/form.html' %}

{% block headTitle %}Verify PO{% endblock headTitle %}

{% block formHeader %}
Verify Purchase Order (NUM)
{% endblock formHeader %}


{% block content %}
    {% if status %}
        <h4>Are you sure you want to verify?</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="yes" value="Yes" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
            <input type="submit" name="no" value="Go Back" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
        </form>
    {% else %}
        <h4>Document not legible for verification</h4>
    {% endif %}
{% endblock %}
